body {
    background: #121212;
    font-family: serif;
}

img {
    width: 100%;
}

.card {
    width: 200px;
    background: #1b1b1b;
    border-radius: 5px;
    padding: 10px;
}

.card .img img {
    border-radius: 5px;
}

.play {
    width: 289px;
    background: #1b1b1b;
    border-radius: 5px;
    padding: 10px;
}

.play .img {
    width: 289px;
}

.play .quote h3 {
    color: white;
    margin: 10px 0;
}

.play .quote p {
    color: #a0a0a0;
    margin: 10px 0 0 0;
}

.play .progress {
    width: 289px;
    text-align: center;
    margin: 10px 0;
}

.play .progress svg {
    width: 289px;
}

.play .controls {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
}

.play .controls div {
    display: flex;
    align-items: center;
    justify-content: center;
}